<div>
  <h1>Listado de pedidos</h1>
</div>

<div class="container">
  <!-- <p-button (onClick)="showDialog()" label="Nuevo Pedido" /> -->
  <button class="btn btn-primary" (click)="showDialog()">Nuevo Pedido</button>


  <!-- <div class="dropdown"> -->
  <select class="form-select" aria-label="Default select example" (change)="onSelectChange($event)">
    <option *ngFor="let p of products" value="{{p.id_business}}">{{p.descripcion}}</option>
  </select>

  <!-- </div> -->

  <p-dialog header="Nuevo Producto" [modal]="true" [(visible)]="visible" [style]="{ width: '50rem' }"
    [breakpoints]="{ '1199px': '75vw', '575px': '90vw' }">
    <app-form-orders [selectedRecord]="idPedidoSeleccionado" (visible)="closeModal($event)"></app-form-orders>
  </p-dialog>
  <div class="table">
    <p-table [value]="pedidos" [tableStyle]="{ 'min-width': '50rem' }">
      <ng-template pTemplate="header">
        <tr>
          <th>Id Pedido</th>
          <th>Comentario</th>
          <th>Fecha</th>
          <th>Cantidad</th>
          <th>Total</th>
          <th>Acciones</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-pedido>
        <tr>
          <td>{{ pedido.pedidos.id }}</td>
          <td>{{ pedido.pedidos.comentario | titlecase }}</td>
          <td>{{ pedido.pedidos.fecha | date }}</td>
          <td>{{ pedido.cantidad }}</td>
          <td>{{ pedido.total | currency }}</td>
          <td>
            <button type="button" class="btn btn-info" (click)="onEdit(pedido.pedidos.id)">Actualizar</button>
            <button type="button" class="btn btn-danger" (click)="deleteOrder(pedido.pedidos.id)">Eliminar</button>
            <button type="button" class="btn btn-secondary" (click)="wacthOrder(pedido.pedidos.id)">Ver</button>
          </td>
        </tr>
      </ng-template>
    </p-table>
  </div>
</div>

<p-dialog header="Información Pedido" [modal]="true" [(visible)]="modalInfo" [style]="{ width: '50rem' }"
  [breakpoints]="{ '1199px': '75vw', '575px': '90vw' }">
  <div *ngIf="infoProducto">

    <h3>Producto: {{infoProducto.pedidos_productos[0].productos.descripcion}}</h3>
    <p>Cantidad: {{infoProducto.pedidos_productos[0].cantidad}}</p>
    <p>Total: {{infoProducto.pedidos_productos[0].total | currency}}</p>
    <p>Id pedido: {{infoProducto.pedidos_productos[0].id_pedido}}</p>
    <p>Comentarios: {{infoProducto.comentario}}</p>
  </div>
</p-dialog>